.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

mat-card {
  padding: 20px;
  margin-bottom: 20px;
}

.slider-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}